# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
MyPackSpeech/MyPackSpeech/bin/Debug/MyPackSpeech.exe
MyPackSpeech/MyPackSpeech/bin/Debug/MyPackSpeech.pdb
MyPackSpeech/MyPackSpeech/bin/Debug/MyPackSpeech.vshost.exe
MyPackSpeech/MyPackSpeech/bin/Debug/MyPackSpeech.vshost.exe.manifest
MyPackSpeech/MyPackSpeech/obj/x86/Debug/App.g.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/App.g.i.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MainWindow.baml
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MainWindow.g.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MainWindow.g.i.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.csproj.FileListAbsolute.txt
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.csproj.GenerateResource.Cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.exe
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.g.resources
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.pdb
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.Properties.Resources.resources
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech_MarkupCompile.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech_MarkupCompile.i.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
MyPackSpeech/MyPackSpeech/obj/x86/Debug/App.g.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/App.g.i.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MainWindow.baml
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MainWindow.g.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MainWindow.g.i.cs
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.csproj.FileListAbsolute.txt
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.csproj.GenerateResource.Cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.exe
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.g.resources
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.pdb
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech.Properties.Resources.resources
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech_MarkupCompile.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/MyPackSpeech_MarkupCompile.i.cache
MyPackSpeech/MyPackSpeech/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
